<div class="container">
  <div class="container d-flex justify-content-between p-0">
    <div class="firstLinks">
      <a class="btn btn-info" routerLink="/">Go to Books</a>
      <a class="btn btn-info" routerLink="/cart">Go to Cart</a>
    </div>
    <div class="secondLinks">
      <a class="btn btn-info" routerLink="/login">Login</a>
      <a class="btn btn-info" routerLink="/register">Register</a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>

<!-- <app-books></app-books> <app-cart></app-cart> -->
