<h1>Password Generator</h1>
<div class="">
  <label for="generated">Enter Password Length</label>
  <input type="text" (input)="setPassLength($event)" />
</div>
<div>
  <label for="char">Use Letters</label>
  <input type="checkbox" (change)="this.useLetter = !this.useLetter" name="" id="char" />
</div>
<div>
  <label for="nums">Use Numbers</label>
  <input type="checkbox" (change)="this.useNumbs = !this.useNumbs" name="" id="nums" />
</div>
<div>
  <label for="symbols">Use Symbols</label>
  <input type="checkbox" (change)="this.useSymbols = !this.useSymbols" name="" id="symbols" />
</div>
<div class="btn">
  <button (click)="onSubmit()">Generate</button>
</div>
<div *ngIf="password">
  <label for="generated">Your Password</label>
  <input type="text" readonly [value]="password" />
</div>
