<h2 class="ms-3">Book lists:</h2>
<!-- <button class="btn btn-{{ btnClass }} px-3 ms-3" (click)="isDisabled()">
  <ng-container *ngIf="!isHidden"> Show </ng-container>
  <ng-container *ngIf="isHidden"> Hide </ng-container>
</button> -->
<button
  class="btn px-3 ms-3"
  [ngClass]="{ 'btn-danger': isHidden, 'btn-success': !isHidden }"
  (click)="isHidden = !isHidden"
>
  <ng-container>
    {{ isHidden ? "Hide" : "Show" }}
  </ng-container>
</button>

<br />
<!-- <input type="text" placeholder="Enter book name"
  [(ngModel)]="searchText"
/>
<input
  type="text"
  [value]="searchText"
  placeholder="double binded text"
  disabled
/> -->
<ul *ngIf="isHidden">
  <ng-container *ngFor="let singleBook of books; let i = index">
    <app-book [book]="singleBook" [numIndex]="i"></app-book>
    <!-- (emitBook)="addToCart($event)" -->
  </ng-container>
</ul>
