<div class="container card p-5 rounded">
  <h2 class="my-3">Login Page</h2>
  <form (ngSubmit)="onSubmit()" #myLogin="ngForm">
    <div class="form-floating mb-3">
      <input
        autocomplete="off"
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        [(ngModel)]="form.email"
        name="email"
        #email="ngModel"
        required
      />
      <label for="email">Email address</label>
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="error mt-1 text-danger ps-3 bg-danger-subtle py-2 rounded"
      >
        Email must be Valid
      </div>
    </div>
    <div class="form-floating">
      <input
        autocomplete="off"
        type="password"
        class="form-control"
        id="passwrd"
        placeholder="Password"
        name="password"
        [(ngModel)]="form.password"
        #password="ngModel"
        required
      />
      <label for="passwrd">Password</label>
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="error mt-1 text-danger ps-3 bg-danger-subtle py-2 rounded"
      >
        Password must be Valid
      </div>
    </div>

    <button
      [disabled]="myLogin.form.invalid"
      type="submit"
      class="btn btn-primary mt-3"
    >
      Submit
    </button>
  </form>
  <!-- {{ form.email }}
  {{ form.password }} -->
</div>
