<div class="container card p-5 rounded">
  <h2 class="my-3">Login Page</h2>
  <form>
    <div class="form-floating mb-3">
      <input
        autocomplete="off"
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
      />
      <label for="email">Email address</label>
    </div>
    <div class="form-floating">
      <input
        autocomplete="off"
        type="password"
        class="form-control"
        id="passwrd"
        placeholder="Password"
      />
      <label for="passwrd">Password</label>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>
