<div class="bg-secondary-subtle p-5">
  <h3>Component from M2</h3>
  <form [formGroup]="UserValue" (ngSubmit)="onSubmit2()">
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="comp1Module1" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="comp1Module1"
            aria-describedby="emailHelp"
            [(ngModel)]="f2Name"
            name="f2Name"
            formControlName="comp2fName"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="comp1Module1" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="comp1Module1"
            aria-describedby="emailHelp"
            [(ngModel)]="l2Name"
            name="l2Name"
            formControlName="comp2lName"
          />
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<!-- <h2 class="text-center">{{ f2Name }}</h2> -->
