.book {
  cursor: pointer;
  border: 2px rgb(161, 161, 161) solid;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
}
li {
  text-align: center;
  width: 18rem;
  height: 25rem;
}
li > img {
  width: 100px;
}
.title {
  font-size: 1.1rem;
  font-weight: bold;
}
.price {
  font-size: 1.4rem;
}
