<li class="book">
  <p class="srNumber">{{ numIndex + 1 }}</p>
  <img [src]="book.image" [alt]="book.name" />
  <p class="title">
    {{ book.name | titlecase }} by {{ book.author | titlecase }}
  </p>
  <p class="price">{{ book.amount | currency : "INR" }}</p>
  <button
    class="addToCart btn btn-warning"
    *ngIf="!isInCart"
    (click)="addToCart()"
  >
    Add to Cart
  </button>
  <button
    class="addToCart btn btn-danger"
    *ngIf="isInCart"
    (click)="removeFromCart()"
  >
    Remove from Cart
  </button>
</li>
